<article>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="carItem.image" alt="Card image cap">
          <p class="list-group-item">{{carItem.manufacturer}}</p>
          <p class="list-group-item">{{carItem.model}}</p>
          <p class="list-group-item">{{carItem.year}}</p>
          <p class="list-group-item">{{carItem.price}}</p>
          <p class="list-group-item">{{carItem.sellerPhone}}</p>
          <p class="list-group-item">{{carItem.vinCode}}</p>
          <p class="list-group-item">{{carItem.mile}}</p>
      </div>
</article>